:root {
  --branding-color: #d9272d;
  --branding-color-2: #d0364a;
  --color: rgb(32, 32, 32);
  --first-color: rgb(33, 33, 33);
  --second-color: rgb(28, 28, 28);
  --third-color: rgb(40, 35, 35);
  --fourth-color: #dbd8e3;
  --heading-font-weight: 700;
  --default-font-weight: 400;
}
body {
  background-color: var(--first-color);
}

h1 {
  font-size: 72px;
  font-weight: var(--heading-font-weight);
}

h3 {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

img {
  margin: auto 0;
  filter: grayscale(100%);
  transition: all 150ms ease-in-out;
}

img:hover {
  filter: none;
}

label,
input {
  font-size: 22px;
}

footer {
  padding: 80px 0 15px;
}

.navbar {
  margin: 0 -22px;
  padding-left: 20px;
}

.nav-item {
  padding: 0 15px;
  font-weight: bold;
}

.active {
  color: var(--branding-color) !important;
  font-weight: bold;
  font-size: 17px;
}

.collapse.navbar-collapse {
  justify-content: end;
}

.hero {
  background-color: var(--second-color);
  color: white;
  text-align: center;
  padding: 100px 20px;
  margin: 0 -13px;
}

.hero h1 {
  letter-spacing: 8px;
  padding: 40px 0 100px;
}

.hero .btn {
  margin-top: 40px;
}

.container {
  background-color: var(--third-color);
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 2px;
  max-width: 1000px;
  text-transform: uppercase;
}

.container h3 {
  font-size: 40px;
}

.content {
  padding: 20px 0;
  margin: 40px 0;
}

.content p {
  font-size: 20px;
  vertical-align: bottom;
}

.hours-container {
  padding: 50px 0;
}

.contact-box {
  padding: 70px 40px 30px;
}

.contact-box p {
  font-size: 20px;
}

.image-grid {
  background-color: var(--second-color);
  padding: 20px 0 10px;
  margin: 0 -13px 80px;
}

.image-grid p {
  text-align: center;
}

.image-grid a {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: white;
  opacity: 90%;
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  border-radius: 30px;
  padding: 15px 60px;
  font-size: 20px;
  transition: all 150ms ease-in-out;
}

.contact-links {
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  transition: all 150ms ease-in-out;
}

.contact-links:hover {
  color: var(--branding-color);
}

.social-links a {
  color: white;
  margin: 20px;
  font-size: 35px;
  transition: all 150ms ease-in-out;
}

.social-links a:hover {
  color: var(--branding-color);
}

.btn-branding:hover {
  background-color: white;
  color: var(--branding-color);
  font-weight: bold;
}

.btn-branding-2 {
  background-color: white;
  border: 2px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
}

.btn-branding-2:hover {
  background-color: var(--branding-color);
  color: white;
}

li a {
  text-decoration: none;
  color: white;
}

footer .coder {
  font-size: 15px;
}

.price {
  display: block;
  font-size: 22px;
  color: var(--branding-color);
}

.services-content li {
  padding: 15px 0;
}

.services-content .price,
p,
h2 {
  text-align: left;
}

.services-content p {
  font-size: 14px;
}

.day {
  font-size: 28px;
}

.hours {
  display: block;
}

.appointment-service,
.appointment-time {
  padding: 40px 0;
  text-align: start;
}
